.Note {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background: #00b9e8;
    font-size: 16px;
    position: relative;

    &__delete {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        display: none;
        padding: 5px;
        z-index: 1;
        font-size: 12px;
        font-weight: bold;
    }

    &:hover &__delete {
        display: block;
    }
}
